* {
    margin: 0px;
}

.nav-container {
    display: flex;
    background-color: grey;
    padding: 0px 0px 10px 10px;
    justify-content: space-around;
}

.logo {
    cursor: pointer;
}

.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    font: 17px;
    font-style: italic;
    align-items: center;
    cursor: pointer;

}

.banner-container {
    height: 100vh;
    background-image: url('./asset/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;

}

.title {
    font-size: 55px;
    font-weight: bold;
    color: white;
}

#digital {
    color: red;
}

.description {
    color: white;
    padding: 30px;
    width: 50%;
    margin: auto;
}

.btn {
    padding: 12px;
    border: none;
    cursor: pointer;
}

.btn-1 {
    padding: 12px;
    border: none;
    background-color: red;
    color: white;
    margin-right: 20px;
    cursor: pointer;

}

.btn:hover {
    color: red;
}

.btn-1:hover {
    color: black;
}
.service-container{
    height: 100vh;
    background-image: url('./asset/image/footer-bg.png'), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   color: white;
   display: flex;
   width: ;
   align-items: center;
   padding: 20px;

}
.icon{
    width: 80px;
    margin-bottom: 20px;
}
.box{
    
    width: 150px;
    height: 150px;
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 50px;

    
}
.service-description{
    width: 50%;

}

